* text=auto eol=lf

# explicit text files
*.go      text eol=lf
*.yml     text eol=lf
*.yaml    text eol=lf
*.json    text eol=lf
*.md      text eol=lf
*.sql     text eol=lf
Makefile  text eol=lf
go.mod    text eol=lf
go.sum    text eol=lf

# binaries
*.exe     binary
*.dll     binary
*.so      binary
*.dylib   binary
*.db      binary
*.sqlite  binary

# archives
*.zip     binary
*.7z      binary
*.tar.gz  binary
*.tgz     binary

# media
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.pdf   binary

# git lfs
*.mp4     filter=lfs diff=lfs merge=lfs -text
*.psd     filter=lfs diff=lfs merge=lfs -text
*.uasset  filter=lfs diff=lfs merge=lfs -text
*.FCStd   filter=lfs diff=lfs merge=lfs -text

# cleaning export archive code
.gitignore     export-ignore
.gitattributes export-ignore
.gitmodules    export-ignore
.github/       export-ignore